
div,
body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

/******************** primer contenedor *****************************/

/* Estilos generales para el contenedor principal */
.primer_contenedor {
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para la imagen de fondo de la primera pantalla */
.imagen_contenedor_principal {
  opacity: 90%;
  background-size:cover;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el nav bar */
ul {
  position: absolute;
  right: 0;
  Z-index: 1;
  margin: 25px;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  padding: 10px 25px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  position: relative;
}

ul li a:before {
  content: '';
  width: 0px;
  height: 3px;
  background: #00bcd4;
  position: absolute;
  top: 120%;
  left: 0;
  transition: .5s;
}

ul li:hover a:before {
  width: 55%;
  transform: translateX(100);
}

/* Parrafo de "El Charlten" */
.texto_primer_contenedor {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 0;
  padding: 20px;
  margin-left: 50px;
  width: auto;
}

.parrafo1 {
  margin-left: 90px;
  letter-spacing: 0.67px;
  color: #FFFFFF;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.parrafo2 {
  margin-left: 20px;
  font-family: roboto, verdana;
  font-weight: 100;
  font-size: 1em;
}

.parrafo3 {
  margin-left: 20px;
  font-family: roboto, verdana;
  font-weight: 100;
  font-size: 1em;
}

/* Estilos para el logo */
.logo_contenedor_principal {
  max-width: 15%;
  max-height: 15%;
  position: absolute;
  bottom: 530px;
  left: -40px;
  padding: 10px;
  margin-left: 60px;
  
}
 
/* Estilos para el boton readme */
.button_readme {
  margin-left: 150px;
  height: 50px;
  width: 150px;
  font-size: 1em; /* em= es una unidad relativa. 1.6 veces el tamaño de la letra de su contenedor. Si cambio la letra lo demas se ajusta */
  display: flex;
  flex: 1;
  background-color: #066ee6;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 0px solid white;
  cursor: pointer;
  border-radius: 15px;
  user-select: none;
}

.button_readme:hover {
  background-color: #138ddff1;
}

/******************** segundo contenedor *****************************/

.segundo_contenedor {
  background-color: whitesmoke;
  background-size:cover;
	background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo_segundo_contenedor {
  margin-top: 100px;
  letter-spacing: 0.67px;
  color: #f35539;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 3em;
  
}

.lista_segundo_contenedor {
  margin-top: 200px;
  padding: 50px;
  flex-direction:row;
  align-content: space-around;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 2px solid #26beef;
}

/******************** tercer contenedor *****************************/

.tercer_contenedor {
  background-size:cover;
	background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

/* Imagen del tercer contenedor */
.imagen_tercer_contenedor {
  max-width: 100%;
  max-height: 80%;
  position: absolute;
  bottom: 52px;
  left: 0px;
  padding: 0px;
  margin-left: 20%;
  opacity: 100%;
  text-align: center;
}

.tercer_contenedor_bis {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tercer_contenedor_bloque_1 {
  background: #c2b8a6;
  width: 70%;
  height: 100vh;
}

.tercer_contenedor_bloque_2 {
  background: #927b57;
  width: 30%;
  height: 100vh;
}

/******************** cuarto contenedor *****************************/

.cuarto_contenedor_bis {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.cuarto_contenedor_bloque_1 {
  background: #c2b8a6;
  width: 40%;
  height: 100vh;
  justify-content: center;
}

.cuarto_contenedor_bloque_2 {
  width: 60%;
  height: 100vh;
}

.imagen_cuarto_contenedor {
  width: 100%;
  height: 100vh;
}

.cuarto_contenedor_bloque_3 {
  max-width: 50%;
  max-height: 80%;
  position: absolute;
  bottom: 150px;
  left: 0px;
  padding: 0px;
  margin-left: 40px;
  opacity: 100%;
}

/******************** quinto contenedor *****************************/

.quinto_contenedor_bis {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.quinto_contenedor_bloque_3 {
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  padding: 0px;
  opacity: 100%;
  position: absolute;
	top: 20%;
	left: 50%;
	
}

.imagen_quinto_contenedor {
  width: 100%;
  height: 100%;
}

.quinto_contenedor_bloque_4 {
  width: 30%;
  position: absolute;
  padding: 0px;
  opacity: 100%;
  top: 22%;
	left: 10%;
}

